body{
    background: rgb(255, 212, 179);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;   
    font-family: Arial, Helvetica, sans-serif; 
}

header{
    background-color: white;
    width: 70%;
    height: 60px;

}

h1{
    position: absolute;
    top: -2px;
    left: 220px;
}

.retangulo1{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 110px;
    left: 199px;
    background-color: #f2f2f2;

}

h1#pessoa{
    font-size: 20px;
    position: absolute;
    top: 94px;
    left: 430px;
}

h2.corpo{
    font-size: 15px;
    position: absolute;
    top: 120px;
    left: 430px;
    text-align: left;
}

h2.corpo2{
    font-size: 15px;
    position: absolute;
    top: 395px;
    left: 199px;
    text-align: left;
}

h2.corpo3{
    font-size: 15px;
    position: absolute;
    top: 595px;
    left: 199px;
    text-align: left;
}

.retangulo2{
    width: 70%;
    height: 10px;
    position: absolute;
    top: 350px;
    left: 199px;
    background-color: #f2f2f2; 
}

.retangulo3{
    width: 10px;
    height: 500px;
    position: absolute;
    top: 350px;
    left: 800px;
    background-color: #f2f2f2; 
}

h1#formacao{
    font-size: 20px;
    position: absolute;
    top: 370px;
    left: 200px;   
}

h1#realizacoes{
    font-size: 20px;
    position: absolute;
    top: 570px;
    left: 200px;   
}